*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    padding: 30px;
}   
main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bootom,rgb(26,26,26),rgb(35,35,35),black);
}
section{
    height: 100%;
    width: 350px;
    border-radius: 10px;
    margin: auto;
    background-color: black;
    margin: auto;
}
.all-reels{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    
}

.reel{
    height: 100%;
    width: 100%;
    position: relative;
    background: color #888;;
    border-radius: 10px;
    

}
.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.reel .bottom{
    padding: 30px 20px;
    background: linear-gradient(black,black);
    width: 100%;
    position: absolute;
    bottom: 0;

}
.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.bottom .user img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    object-fit: cover;
}
.bottom.user h4{
    font-size: 15px;
    font-weight: 500;
}
 .bottom .user button{
    background-color: transparent;
    padding: 3px 6px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid whitesmoke;
}
.bottom>h3{
    font-weight: 500;
    font-size: 20px;
}
.right{
    width: 40px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    text-align: center;
    width: 40px;
    position: absolute;
    right: 0;
    bottom: 5%;
    
}
.right h4{
    cursor: pointer;
}
.right i{
    font-size: 25px;
    font-weight: 500;
    
}
.right h6{
    font-size: 15px;
    font-weight: 500;
}
.love{
    color: red;
}