*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    padding: 30px;
}   
main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bootom,rgb(26,26,26),rgb(35,35,35),black);
}
section{
    height: 100%;
    width: 350px;
    border-radius: 10px;
    margin: auto;
    background-color: black;
    margin: auto;
}
.all-reels{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    
}

.reel{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: khaki;
    border-radius: 10px;
    

}
.reel img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.reel .bottom{
    padding: 30px 20px;
    background: linear-gradient(black,black);
    width: 100%;
    position: absolute;
    bottom: 0;

}
.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.bottom .user img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    object-fit: cover;
}
.bottom.user h4{
    font-size: 15px;
    font-weight: 500;
}
 .bottom .user button{
    background-color: transparent;
    padding: 3px 6px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid whitesmoke;
}
.bottom>h3{
    font-weight: 500;
    font-size: 20px;
}
.right{
    width: 40px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    text-align: center;
    width: 40px;
    position: absolute;
    right: 0;
    bottom: 5%;
    
}
.right h4{
    cursor: pointer;
}
.right i{
    font-size: 25px;
    font-weight: 500;
    
}
.right h6{
    font-size: 15px;
    font-weight: 500;
}
var sum =''
reels.forEach(function (elem){
  sum = sum+`<div class="reel">
                    <img  class="main-img" src="https://images.unsplash.com/photo-1762325658226-3a8bc64a6fd8?q=80&w=779&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <div class="bottom">
                        <div class="user">
                            <img src="https://images.unsplash.com/photo-1762324858945-3fd82fe78bcd?q=80&w=770&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                           <h4> Tanya Gupta</h4>
                           <button>Follow</button>
                        </div>
                               <h3> Diving in another universe</h3>
                    </div>
                    <div class="right">
                        <div class="like">
                            <h4 class="like-icon icon"><i class="ri-heart-line"></i></h4>
                            <h6>1.4m</h6>
                        </div>
                     <div class="comment">
                            <h4 class="comment-icon icon"><i class="ri-chat-3-line"></i></h4>
                            <h6>172</h6>
                        </div>
                     <div class="share">
                            <h4 class="share-icon icon"><i class="ri-share-forward-line"></i></h4>
                            <h6>88</h6>
                        </div>
                     <div class="menu">
                            <h4 class="menu-icon icon"><i class="ri-more-2-line"></i></h4>
                    </div>
                    </div>
                    <div class="reel">
                    <img  class="main-img" src="https://images.unsplash.com/photo-1603127161198-74fda416469f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDQzfHx8ZW58MHx8fHx8" alt="">
                    <div class="bottom">
                        <div class="user">
                            <img src="https://images.unsplash.com/photo-1762324858945-3fd82fe78bcd?q=80&w=770&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                           <h4> Tanya Gupta</h4>
                           <button>Follow</button>
                        </div>
                               <h3> Lets go together there</h3>
                    </div>
                    <div class="right">
                        <div class="like">
                            <h4 class="like-icon icon"><i class="ri-heart-line"></i></h4>
                            <h6>1.4m</h6>
                        </div>
                     <div class="comment">
                            <h4 class="comment-icon icon"><i class="ri-chat-3-line"></i></h4>
                            <h6>172</h6>
                        </div>
                     <div class="share">
                            <h4 class="share-icon icon"><i class="ri-share-forward-line"></i></h4>
                            <h6>88</h6>
                        </div>
                     <div class="menu">
                            <h4 class="menu-icon icon"><i class="ri-more-2-line"></i></h4>
                    </div>
                    </div>
                    <div class="reel">
                    <img  class="main-img" src="https://images.unsplash.com/photo-1739239130033-c369dd7ea825?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <div class="bottom">
                        <div class="user">
                            <img src="https://images.unsplash.com/photo-1762324858945-3fd82fe78bcd?q=80&w=770&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                           <h4> Tanya Gupta</h4>
                           <button>Follow</button>
                        </div>
                               <h3>Him:I dont pray for love,i just pray for cars</h3>
                    </div>
                    <div class="right">
                        <div class="like">
                            <h4 class="like-icon icon"><i class="ri-heart-line"></i></h4>
                            <h6>1.4m</h6>
                        </div>
                     <div class="comment">
                            <h4 class="comment-icon icon"><i class="ri-chat-3-line"></i></h4>
                            <h6>172</h6>
                        </div>
                     <div class="share">
                            <h4 class="share-icon icon"><i class="ri-share-forward-line"></i></h4>
                            <h6>88</h6>
                        </div>
                     <div class="menu">
                            <h4 class="menu-icon icon"><i class="ri-more-2-line"></i></h4>
                    </div>
                    </div>
                    <div class="reel">
                    <img  class="main-img" src="https://images.unsplash.com/photo-1763713512979-97f3b63605b5?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <div class="bottom">
                        <div class="user">
                            <img src="https://images.unsplash.com/photo-1762324858945-3fd82fe78bcd?q=80&w=770&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                           <h4> Tanya Gupta</h4>
                           <button>Follow</button>
                        </div>
                               <h3>Actually he do.</h3>
                    </div>
                    <div class="right">
                        <div class="like">
                            <h4 class="like-icon icon"><i class="ri-heart-line"></i></h4>
                            <h6>1.4m</h6>
                        </div>
                     <div class="comment">
                            <h4 class="comment-icon icon"><i class="ri-chat-3-line"></i></h4>
                            <h6>172</h6>
                        </div>
                     <div class="share">
                            <h4 class="share-icon icon"><i class="ri-share-forward-line"></i></h4>
                            <h6>88</h6>
                        </div>
                     <div class="menu">
                            <h4 class="menu-icon icon"><i class="ri-more-2-line"></i></h4>
                    </div>
                    </div>
                    <div class="reel">
                    <img  class="main-img" src="https://images.unsplash.com/photo-1749224280334-460eb823e0c4?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <div class="bottom">
                        <div class="user">
                            <img src="https://images.unsplash.com/photo-1762324858945-3fd82fe78bcd?q=80&w=770&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                           <h4> Tanya Gupta</h4>
                           <button>Follow</button>
                        </div>
                               <h3>.....to be continued</h3>
                    </div>
                    <div class="right">
                        <div class="like">
                            <h4 class="like-icon icon"><i class="ri-heart-line"></i></h4>
                            <h6>1.4m</h6>
                        </div>
                     <div class="comment">
                            <h4 class="comment-icon icon"><i class="ri-chat-3-line"></i></h4>
                            <h6>172</h6>
                        </div>
                     <div class="share">
                            <h4 class="share-icon icon"><i class="ri-share-forward-line"></i></h4>
                            <h6>88</h6>
                        </div>
                     <div class="menu">
                            <h4 class="menu-icon icon"><i class="ri-more-2-line"></i></h4>
                    </div>
                    </div>`
})
 var allreels= document.queryselector('.all-reels')
 allreels.innerhtml = sum